In [3]:
import datetime as dt
import numpy as np
import pandas as pd
import requests
import json
from pprint import pprint
import csv
# from api_key import api_key
from flask_sqlalchemy import SQLAlchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

ModuleNotFoundError: No module named 'api_key'

In [4]:
api_key = "93ba5366cb39b249dcbde95cc4d461e7b05b747d"
export_url = (f"https://api.census.gov/data/timeseries/intltrade/exports")
import_url = (f"https://api.census.gov/data/timeseries/intltrade/imports")
china_code = "5700"
usa_code = "1000"
month = []
year = []
#&ParameterName={parameter_name}
#url = (f"https://apps.bea.gov/api/data?&UserID={api_key}&method={get_data}&datasetname={dataset}&LineCode={line_code}&TableName={table_name}&GeoFIPS={geofip}&Year={year}")

#SAINC51
#response = requests.get(url).json()       
#list_response = requests.get(list_url).json()

In [53]:
total_trade = requests.get(f"{export_url}/hs?get=ALL_VAL_MO&key={api_key}&time=2019-01").json()

In [54]:
total_trade[1][0]

'129545568405'

In [63]:
requests.get(f"https://api.census.gov/data/timeseries/intltrade/exports/hs?get=DF,ALL_VAL_MO,ALL_VAL_YR&YEAR=2013&MONTH=12").json()

[['DF', 'ALL_VAL_MO', 'ALL_VAL_YR', 'YEAR', 'MONTH'],
 ['-', '131915459503', '1578516879950', '2013', '12'],
 ['1', '114956497285', '1371134061205', '2013', '12'],
 ['2', '16958962218', '207382818745', '2013', '12']]

In [88]:
china_exports = requests.get(f"{export_url}/hs?get=CTY_CODE,CTY_NAME,ALL_VAL_MO,ALL_VAL_YR&key={api_key}&time=from+2018-01&CTY_CODE={china_code}").json()
pprint(china_exports)

[['CTY_CODE', 'CTY_NAME', 'ALL_VAL_MO', 'ALL_VAL_YR', 'time', 'CTY_CODE'],
 ['5700', 'CHINA', '9835259350', '9835259350', '2018-01', '5700'],
 ['5700', 'CHINA', '9806092670', '19641352020', '2018-02', '5700'],
 ['5700', 'CHINA', '12382086329', '32023438349', '2018-03', '5700'],
 ['5700', 'CHINA', '10268035458', '42291473807', '2018-04', '5700'],
 ['5700', 'CHINA', '10610817545', '52902291352', '2018-05', '5700'],
 ['5700', 'CHINA', '11115623430', '64017914782', '2018-06', '5700'],
 ['5700', 'CHINA', '10261688039', '74279602821', '2018-07', '5700'],
 ['5700', 'CHINA', '9294344300', '83573947121', '2018-08', '5700'],
 ['5700', 'CHINA', '9789081065', '93363028186', '2018-09', '5700'],
 ['5700', 'CHINA', '9130520323', '102493548509', '2018-10', '5700'],
 ['5700', 'CHINA', '8664895287', '111158443796', '2018-11', '5700'],
 ['5700', 'CHINA', '9182981845', '120341425641', '2018-12', '5700'],
 ['5700', 'CHINA', '7134335725', '7134335725', '2019-01', '5700']]

In [190]:
requests.get(f"{export_url}/hs?get=CTY_CODE,CTY_NAME,ALL_VAL_MO,ALL_VAL_YR,E_COMMODITY_LDESC&key={api_key}&time=from+2015-01&CTY_CODE={china_code}").json()
print("clear")

clear

In [191]:
export_by_commodity = requests.get(f"{import_url}/hs?get=CTY_CODE,I_COMMODITY,I_COMMODITY_SDESC,GEN_VAL_MO,GEN_VAL_YR&key={api_key}&time=from+2015-01&CTY_CODE={china_code}").json()

In [193]:
count = 1
value = []
period = []
desc = []
code = []
while count < 911207:
    count += 1
    value.append(export_by_commodity[count][3])
    desc.append(export_by_commodity[count][2])
    period.append(export_by_commodity[count][5])
    code.append(export_by_commodity[count][1])
china_data = pd.DataFrame({"Value" : value,
                          "Period" : period,
                          "Commodity" : desc,
                          "Comm Code": code})

In [192]:
len(export_by_commodity)

911208

In [199]:
china_data.describe()

         Value   Period             Commodity Comm Code
count   911206   911206                911206    911206
unique  499928       49                 21265     23383
top          0  2018-12  WV FB CT <85% WGT CT    210390
freq    142319    20382                   399        49

In [195]:
engine = create_engine('sqlite:///../data/china_trade.db', echo=False)

In [198]:
china_data.to_sql('import', con=engine, if_exists='replace')

In [ ]:
def parameters(x, y, view=False, csv=False):   
    count =+1
    paras = []
    parameter_values = (x)
    data_set = (y)

    try:
        response = requests.get(f"{url}{method[3]}&datasetname={data_set}&ParameterName={parameter_values}").json() 
        paras.append(response["BEAAPI"]["Results"]["ParamValue"])
        if view == True:
            pprint(response["BEAAPI"]["Results"]["ParamValue"])
        elif csv == True:
            paras = pd.DataFrame(paras)
            paras.to_csv("output.csv")  
            print("output.csv uploaded")
        else:
            print(f"{parameter_values} Values Retrived")
    except:
        try:
            response = requests.get(f"{url}{method[3]}&datasetname={data_set}&ParameterName={parameter_values}").json() 
            paras.append(response["BEAAPI"]["Results"]["ParamValue"])
            if view == True:
                pprint(response["BEAAPI"]["Results"]["ParamValue"])
            elif csv == True:
                paras = pd.DataFrame(paras)
                paras.to_csv("output.csv")  
            else:
                print(f"{parameter_values} List Retrived")  
        except:   
            try:
                response = requests.get(f"{url}{method[1]}&datasetname={data_set}").json() 
                paras.append(response["BEAAPI"]["Results"]["Parameter"])
                print(f"{parameter_values} List Retrived")  
                if view == True:
                    pprint(response["BEAAPI"]["Results"]["Parameter"])
                elif csv == True:
                    paras = pd.DataFrame(paras)
                    paras.to_csv("output.csv")  
                else:
                    print(f"{data_set} List Retrived")      
            except:
                print(response)
    return